{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "about.about_pecha" %}{% endblock %}

{% block description %}{% trans "about.about_pecha_description" %}{% endblock %}

{% block css %}
    #top #languageToggle {
        display: inline;
    }
    #top #languageToggle #bilingual {
        display: none;
    }
    #aboutPage a {
        text-decoration: underline;
    }
{% endblock %}

{% block content %}
<main id="aboutPage" class="biReady container static sans-serif">
    <div id="aboutCover">
        <video id="aboutVideo" poster="/static/img/pecha.webp" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
            Picture of Pecha
        </video>
    </div>
    <div class="inner">
        <header id="aboutHeader" class="sans-serif-in-hebrew">
        <h1 id="aboutTitle">
            <span class="int-he">关于贝加</span>
        </h1>
        <div id="aboutTitleSub">
            <span class="int-he">佛教文献在线活库</span>
        </div>
        </header>
        <section class="about section">
            <p class="first">
                <span class="int-he">
                    <h3>什麼是 Pecha.org？</h3> 
                    幾世紀以來，佛教智慧一直透過神聖的經典而被保存下來——無論是藏文、梵文、中文，現在也逐漸包含英文。從貝葉經到現代出版品，每個時代都在尋找新的方式來保護並傳播佛法。Pecha.org 繼承這一傳統，致力於為佛教經典打造數位化的未來。
                    Pecha.org 是一個非營利專案，致力於讓佛教經典變得更容易取得、檢索與應用。平台匯集了《甘珠爾》和《丹珠爾》、律藏、經藏、密續與註釋等經典，並提供藏文、英文和中文的多語對讀功能。受到 Sefaria 專案的啟發，Pecha.org 更進一步為佛教研究與修行的獨特需求而設計。
                    透過多元使用者工具、開源基礎架構，以及持續擴展的數位藏經庫，Pecha.org 使學者、修行者與開發人員在當今的數位世界中能夠更加深入佛法義理。

                    
                    <h3>Pecha.org 的願景</h3>
                    <h4>開放存取</h4>
                    Pecha.org 相信佛法是全人類的共同財產。平台致力於讓經典與註釋文獻的開放取得，供研究、修行與創意應用。無論是列印課程講義、翻譯專案，還是多語言閱讀，內容皆可自由取用。
                    <h4>技術基礎</h4>
                    平台提供強大技術架構。憑藉開源程式碼與 API（應用程式介面），開發者可將 Pecha.org 的資料整合至自然語言處理、詞典工具或人工智慧研究中。透過結構化格式（如 JSON、XML）與 OpenPecha 的註釋框架提供強大的功能，能夠在核心文本的基礎上建構出各種新的應用程式。
                    <h4>教學支援</h4>
                    Pecha.org 不僅是藏經庫，更是佛學學習平台。使用者可建立個人藏書、註解經文、並為課程或佛法開示製作結構化「學習單」，用於教學或禪修分享。這些功能有助於在教室、寺院或線上課程中活化佛法教學。
                    <h4>傳承對話</h4>
                    佛法傳統是一場歷經千年的對話——師徒之間的傳承、跨世代註釋的交織，乃至擴展到當今的數位社群。Pecha.org 透過協作工具、社群開發以及經由GitHub和社交媒體的開放分享，促進這場對話的延續。
                </span>
            </p>
            
        </section>
    </div>
</main>
{% endblock %}